<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.lavisa.tomadorpedidos"
    android:versionCode="1"
    android:versionName="1.0" >

      <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
     
      
   

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name="AppPedidos"
        android:theme="@style/CustomTheme" >
        
        	<uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        	
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ResumenActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".BuscarClienteActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".PedidoActivity" android:configChanges="keyboardHidden|orientation"/>
        
            <activity android:name=".DialogTest" android:theme="@style/Theme.Sherlock.Dialog"/>
            
        
    </application>
    
     <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
    
     <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>