<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lindley.desarrolloxcliente"
    android:versionCode="3"
    android:versionName="1.2" >

   
	 <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
	 		    
    <application
        android:icon="@drawable/clubexito2"
        android:label="@string/app_name" 
        android:theme="@style/CustomTheme"
        android:name="lindley.desarrolloxcliente.MyApplication">
         
       	<uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        
        
         
        <activity android:name="DireccionActivity" android:configChanges="keyboardHidden|orientation"/>
        
        <activity android:name=".activity.TestTabs" android:configChanges="keyboardHidden|orientation">
            
            
           
        </activity>
        
       
        
        
        
        
        <activity
            android:name=".activity.Login_Activity"
            android:label="@string/app_name" 
            android:noHistory="true">

            
            
        </activity>
        
           <activity android:name=".activity.DescargaData_Activity" android:configChanges="keyboardHidden|orientation">
             
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 

        </activity>
        
        <activity android:name=".activity.ConsultarCliente_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcliente" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarCabecera_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcabecera" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity android:name=".activity.ConsultarOportunidad_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultaroportunidad" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CompromisoOpen_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcompromisoopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoOpenFalse_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcompromisoopenfalse" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CompromisoClose_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcompromisoclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.OportunidadDesarrollador_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.oportunidaddesarrollador" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        <activity android:name=".activity.InformacionAdicional_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.informacionadicional" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.InformacionAdicionalClose_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.informacionadicionalclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.InformacionAdicionalFalse_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.informacionadicionalfalse" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarPosicion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarposicion" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarPresentacion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarpresentacion" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPosicionClose_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoposicionclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPosicionOpen_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoposicionopen"  />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPosicionOpenFalse_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoposicionopenfalse"  />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            
        
                    
        <activity android:name=".activity.CompromisoPresentacionClose_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisopresentacionclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPresentacionOpen_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisopresentacionopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CompromisoPresentacionOpenFalse_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisopresentacionopenfalse" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.VerFoto_Activity" android:configChanges="keyboardHidden|orientation"  android:noHistory="true">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.verfoto" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
              
        <activity android:name=".activity.CompromisoPrincipalOpen_Resumen" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoprincipalopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPrincipalOpenFalse_Resumen" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoprincipalopenfalse" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPrincipalClose_Resumen" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoprincipalclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.SKUPrioritario_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.skuprioritario" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SKUPrioritarioCompromiso_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.skuprioritariocompromiso" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.SKUPrioritarioCompromisoClose_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.skuprioritariocompromisoclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity android:name=".activity.SKUPrioritarioCompromisoFalse_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.skuprioritariocompromisofalse" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.WebViewVerFoto_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.webviewverfoto" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.VerCompromisosOpen_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.vercompromisosopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        
        <activity android:name=".activity.VerCompromisosClose_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.vercompromisosclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.VerProfit_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.verprofit" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ListarFotoExito_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.listarfotoexito" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
        
        <activity android:name=".activity.VerArticulosCanje_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.verarticuloscanje" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
            
        <service android:name=".service.UploadFileService" android:exported="false" android:process=":remote">
            
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.uploadFileService" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </service>
        
        
        
        <!--activity android:name=".activity.VerArticulosCanje_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.verarticuloscanje" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-->     
   
    
       <activity android:name=".activity.ConsultarResumen_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarresumen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.EvaluacionTabs_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
         
        
         <activity android:name=".activity.Compromisos_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.Presentacion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
          <activity android:name=".activity.Combos_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          
           <activity android:name=".activity.VerificacionTabs_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity android:name=".activity.CompromisosVerificacion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
              <activity android:name=".activity.PresentacionVerificacion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
           
           <activity android:name=".activity.CombosVerificacion_Activity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>            					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
           
           
            
           
           
       
    </application>
    
     <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
    
     <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        
</manifest>