<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.lindley.mmil.titanium"
    android:versionCode="3"
    android:versionName="1.2" >

 
    <application
        android:icon="@drawable/header_logo"
        android:label="@string/app_name" android:name="App"
        android:theme="@style/CustomTheme">
        
        	<uses-library
            android:name="com.google.android.maps"
            android:required="true" />
    	
        	
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaSupervisorActivity" android:configChanges="keyboardHidden|orientation"></activity>
        
        <activity android:name=".TableroActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".TableroGraficoActivity" android:configChanges="keyboardHidden|orientation"></activity>
        
        
        <activity android:name=".ListaVendedoresActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".ListaPedidosActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".ListaTeleventaActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".TableroGraficoActivity" android:configChanges="keyboardHidden|orientation"></activity>
            
        
        
        
        
    </application>

    <uses-sdk android:minSdkVersion="7" />
    
     <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
       
</manifest>