<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lindley.desarrolloxcliente"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
		    
    <application
        android:icon="@drawable/header_logo"
        android:label="@string/app_name" 
        android:theme="@style/CustomTheme"
        android:name="MyApplication">
         
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        
        <activity android:name="DireccionActivity" android:configChanges="keyboardHidden|orientation"/>
        
        <activity
            android:name=".activity.Login_Activity"
            android:label="@string/app_name" 
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarCliente_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcliente" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarCabecera_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcabecera" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity android:name=".activity.ConsultarOportunidad_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultaroportunidad" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CompromisoOpen_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcompromisoopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CompromisoClose_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarcompromisoclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.OportunidadDesarrollador_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.oportunidaddesarrollador" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        <activity android:name=".activity.InformacionAdicional_Activity" android:noHistory="true">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.informacionadicional" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarPosicion_Activity">
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarposicion" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ConsultarPresentacion_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.consultarpresentacion" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPosicionClose_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoposicionclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPosicionOpen_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoposicionopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPresentacionClose_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisopresentacionclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPresentacionOpen_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisopresentacionopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.VerFoto_Activity" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.verfoto" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
              
        <activity android:name=".activity.CompromisoPrincipalOpen_Resumen" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoprincipalopen" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CompromisoPrincipalClose_Resumen" >
            <intent-filter>
                <action android:name="lindley.desarrolloxcliente.compromisoprincipalclose" />                					  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>